.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/Banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 50px;
    border-radius: 0px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon, .oi-plus{
    padding-right: 10px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #343a40!important;
    color: white;
    margin-bottom: 0px;
    margin-top: 15px;
}
