@grey-dark: #343a40;

.margin(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top, @right, @bottom, @left) {
    padding: @top @right @bottom @left;
}


.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/Banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    .margin(50px, 0px);
    border-radius: 0px; }
  
  .card-hotel {
    flex: 1 200px;
    .margin(10px, 10px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon, .oi-plus {
    .padding(10px, 10px, 10px, 10px); }
  
  .footer {
    background-color: @grey-dark !important;
    color: white;
    .margin(15px, 5px);
    .padding(10px, 10px, 10px, 10px); }
  